body {
  font-family: 'Open Sans', sans-serif;
}
.nav-login {
  background-color: transparent !important;
  font-family: 'Oswald', sans-serif;
}
.root {
  background-image: url("../img/fondo.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-login {
  border-radius: 1rem
}

