body {
  font-family: 'Open Sans', sans-serif;
}
.nav-login {
  background-color: transparent !important;
  font-family: 'Oswald', sans-serif;
}
.App {
  background-image: url("./img/fondo.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-login {
  border-radius: 1rem;
  width: 100%;
}
@media (min-width: 576px) { 
  .form-login {
    border-radius: 1rem;
    width: 70%;
  }
}

@media (min-width: 992px) { 
  .form-login {
    border-radius: 1rem;
    width: 50%;
  }
}
